body {
    background-color:white;
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
    
    
  }

  #intro-text {
    padding-top:100px;
  }

  #intro-text h1 {
    font-size: 4rem;
  }

  a {
    text-decoration: none;
    color:black;
  }
  .white {
    color: white;
  }

  .thumb {
    position:relative;
    padding-bottom:20px;
  }




  .overlay {
    z-index:1;
    position:absolute;
    color:white;
    padding:0; 
    width:99%;
    height:99%;
    margin:0;
    opacity:0;
    border-radius: 20px;
    overflow: hidden;
   
  }

  .overlay #text {
    margin-top:50%;
    padding-left:10px;
  }

  .overlay #text h4  {
    font-size:2rem;
    text-transform: uppercase;
    font-family: 'Bowlby One SC', cursive;

  }

  h4 {
    font-family: 'Bowlby One SC', cursive;
  }

  #hero-image {
    background-image:url('../images/4.png'); 
    background-repeat: no-repeat;
    background-size:cover; 
    height:700px; 
    width:100%; 
    border-radius:24em 2em;

  }

  .tiktok-embed {

    max-width: 605px;
    min-width: 325px;
  }



  @media only screen and (max-width: 320px) {
  .tiktok-embed {
    max-width: 105px; 
    min-width: 265px; 
    overflow-y:hidden;
   
  
  }

}


@media only screen and (max-width: 400px) {

#hero-image, .spacer, #round {
  display:none;
}


#intro-text h1 {
  font-size: 2rem;
}


}

a[class^="fa"] {
text-decoration: none;
font-size:1.5rem;
padding-right:15px;
margin-bottom:10px;
color:black;
}

#logo {
width:30px;
height:30px;
border-radius:5px;

}
.navbar-light {
border-bottom:1px solid rgb(241, 241, 241);
}


.navbar-light .navbar-nav .nav-link.active {
color:black;
font-weight: bold;

}


.thumb-image {
border-radius: 20px;
width:100%; 
height:500px;
max-width:100%;
max-height:500px;
background-repeat: no-repeat;
background-size:cover;


}


.thumb-image-2 {
width:100%; 
height:500px;
max-width:100%;
max-height:600px;
background-repeat: no-repeat;
background-size:cover;
float:right;
border-radius: 20px;
box-shadow: 5px 10px 8px #e0e0e0;

}

.thumb-image-3 {
  width:100%; 
  height:100%;


}



.about-image {
  width:100%; 
  height:700px;
  max-width:100%;
  max-height:600px;
  background-repeat: no-repeat;
  background-size:cover;
  float:right;  
  
}


/* div[class*="thumb"]:hover .thumb-image:before { 
height: 99%;
transition: all 1s ease-in;

} */

a[class*="nav-link"] {
margin-right:40px;
text-transform: uppercase;

}
.links {
box-shadow: inset 0 0 0 0 black;
color: black;
margin: 0 -.25rem;
padding: 0 .25rem;
transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

 .links:hover {
box-shadow: inset 250px 0 0 0 black;
color:white;
}
 
ul {
list-style: none;
margin:0;
padding:0;
}

ul li {
margin-top:10px;
}

.spacer {
aspect-ratio: 1000/600;
width:100%;
height:100%;
background-repeat: no-repeat; 
background-size:cover;
background-image: url('../images/blob-haikei.svg');
position:absolute;
top:0;
left:-10px;
z-index:1;

}

#ux-projects {
background-color:#e7eaed;

}

.custom-shape-divider-top-1645228639 {
position: absolute;
top: 0;
left: 0;
width: 100%;
line-height: 0;
}

.custom-shape-divider-top-1645228639 svg {
position: relative;
display: block;
width: calc(100%);
height: 181px;


}

.custom-shape-divider-top-1645228639 .shape-fill {
fill: #FFFFFF;
}


.arrow {
border: solid black;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
margin-left:30%;
}


.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

.btn {
  max-width:300px;
  min-width:100px;
  margin-bottom:10px;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 0px;
  margin:0px;
  overflow-y:scroll;
  max-height:600px;
 
}





